In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/ashi0/Downloads/links.csv")

In [3]:
df

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
45838   176269  6209470  439050.0
45839   176271  2028550  111109.0
45840   176273   303758   67758.0
45841   176275     8536  227506.0
45842   176279  6980792  461257.0

[45843 rows x 3 columns]

In [6]:
df.dtypes

movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

In [14]:
df.drop(columns=['imdbId'],inplace=True)

KeyError: "['imdbId'] not found in axis"

In [18]:
df.isnull().sum()

movieId    0
tmdbId     0
dtype: int64

In [17]:
df.dropna(inplace=True)

In [19]:
df.to_csv('links_final.csv',index=False)