In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/ashi0/Downloads/ratings.csv")

In [4]:
df

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [5]:
df.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [6]:
df.drop(columns=['timestamp'],inplace=True)

In [7]:
df.to_csv('ratings_final.csv',index=False)

In [8]:
df.dtypes

userId       int64
movieId      int64
rating     float64
dtype: object